confluent-kafka
cassandra-driver
sendgrid
pymongo
pyspark
apache-airflow-providers-common-sql
apache-airflow-providers-apache-spark
apache-airflow-providers-apache-kafka
apache-airflow-providers-ftp
apache-airflow-providers-http
apache-airflow-providers-postgres
slack_sdk
kafka_python
sqlalchemy
setuptools 
wheel
apache-airflow[crypto, celery, postgres, hive, jdbc, mysql, ssh]
apache-beam[gcp]
apache-airflow-providers-google
apache-airflow-providers-amazon